.selectQuestion{
  border: solid 1px blue;
  box-shadow: 2px 2px 2px 2px;
  margin: 14px;
  background-color: azure;
  padding: 7px;
  cursor: pointer;
}
.question{
  margin: 14px;
  background-color: azure;
  padding: 7px;
  cursor: pointer;
}
body{
  background-color: rgb(226, 225, 223);
}